.product-table {
  margin-bottom: 2rem;
}

.product-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2.5rem;
  gap: 2.5rem;
  a {
    width: 17.5rem;
    display: block;
    cursor: pointer;
  }
}
